.dialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

.file-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    min-height: 100px;
}

.file-radio-button {
    margin: 5px;
}

.uploadfilecontainer {
    display: flex;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1c8adb;
    border-radius: 10px;
    color: black;
}

// .uploadfilecontainer:hover {
//     cursor: pointer;
//     // background-color: #9ecbec !important;
//     opacity: 0.8;
// }

// .files-list {
//     display: flex;
//     justify-content: space-between;
//     width: 80%;
//     margin: 10px auto;
//     // background: #ffffff;
//     border: 1px dashed;
//     border-radius: 12px;
//     padding: 5px;
//     color: #1c8adb;
// }

// .files-list .delete-file {
//     background: transparent;
//     border: none;
//     cursor: pointer;
// }

// .files-list .delete-file img {
//     width: 30px;
// }
