.board {
    display: flex;
    flex-direction: column;
    // align-content: stretch;
    // justify-content: stretch;
    background-color: #1a1a1a;
    min-height: 100vh;
    min-width: 100vw;
    padding-bottom: 0px;
}

.tiers {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.tier {
    // flex: 1;
    display: flex;
    flex-direction: row;
    flex: 1;
    border-color: black;
    border-style: solid;
    border-width: 7px;
}

.tier-label {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    // min-height: 90px;
    border-right: 5px solid black;
}

.tier-item {
    // max-height: 100%;
}
