<div class="board">
    <div cdkDropListGroup class="tiers">
        <!-- for each tier -->
        <div class="tier" cdkDropList [cdkDropListData]="entry.value" *ngFor="let entry of tiers | keyvalue : compareFn" (cdkDropListDropped)="drop($event)">
            <!-- labels for tiers -->
            <div class="tier-label" [style.background-color]="colorMap.get(entry.key)">
                <h1>
                    {{entry.key}}
                </h1>
            </div>
            <div class="tier-item-container">
                <!-- containers for all items -->
                <div class="tier-item" cdkDrag [cdkDragData]="item" *ngFor="let item of entry.value">
                    <!-- the tier items -->
                    <app-list-item [listItem]="item"></app-list-item>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-bar">
        <!-- the 'logo' -->
        <div class="title-box">
            <h3>TIER LISTER</h3>
            <!-- inputs for name and author -->
            <!-- add new item -->
            <button id="add-button" mat-raised-button color="primary" (click)="openDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <!-- the buttons -->
        <div class="button-box">
            <!-- upload tierlist -->
            <button mat-raised-button color="accent">
                <mat-icon>link</mat-icon>
                Copy Link
            </button>
            <button mat-raised-button color="accent">
                <mat-icon>publish</mat-icon>
                Upload File
            </button>
            <button mat-raised-button color="accent">
                <mat-icon>link</mat-icon>
                Import From Link
            </button>
            <button mat-raised-button color="accent">
                <mat-icon>get_app</mat-icon>
                Download File
            </button>
        </div>
    </div>
</div>