// font imports
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shadows+Into+Light&display=swap";

.board {
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;

    background-color: #1a1a1a;
    min-height: 100%;
    min-width: 100%;

    .tiers {
        flex: 1;
        display: flex;
        flex-direction: column;

        .tier {
            display: flex;
            flex-direction: row;
            flex: 1;

            border-color: black;
            border-style: solid;
            border-width: 7px;

            .tier-label {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 100px;
                border-right: 5px solid black;
            }

            .tier-item {
                // margins controlled in here,
                // all other css done in the component
                margin-left: 10px;
            }
        }
    }

    .bottom-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .title-box {
            // TODO: do like fonts and stuff

            font-size: 110%;
            color: whitesmoke;
            font-family: "Shadows Into Light", cursive;

            margin-top: 5px;
            margin-bottom: 5px;

            h3 {
                margin-top: 0px;
                margin-bottom: 0px;
                margin-left: 10px;
            }
        }

        .button-box {
            margin-right: 10px;
            button {
                margin: 5px;
            }
            // button themes and stuff
            justify-content: space-evenly;
        }
    }
}
