<div class="dialog">
    <h1 class="mat-dialog-title">
        How to use Tier Lister
    </h1>
    <div mat-dialog-content>
        <div class="sub-content">
            <h2 class="mat-dialog-title">Editing the Board</h2>
            <p>Use the <mat-icon>edit</mat-icon> button to change the name and author
                of the board.</p>
        </div>
        <div class="sub-content">
            <h2 class="mat-dialog-title">Adding Items</h2>
            <p>Use the <mat-icon>add</mat-icon> button to add an item.
                You can enter a URL to use an image, or you can just name the item.
                Ensure you use a direct link to the image or it will not work.</p>
        </div>
        <div class="sub-content">
            <h2 class="mat-dialog-title">Deleting Items</h2>
            <p>Drag any item down below the None tier to delete it.</p>
        </div>
        <div class="sub-content">
            <h2 class="mat-dialog-title">Downloading Tier Lists</h2>
            <p>Use the <mat-icon>get_app</mat-icon> button to download a tierlist to a file. You can upload these to
                access them.
                This lets you save boards for later, as well as creating templates.</p>
        </div>
        <div class="sub-content">
            <h2 class="mat-dialog-title">Adding Items</h2>
            <p>Use the <mat-icon>publish</mat-icon> button to upload a tierlist.
                Drag the file into the upload area, then select it from the menu to view it.</p>
        </div>
    </div>
    <div mat-dialog-actions>
        <!-- close -->
        <button mat-button color="secondary" [mat-dialog-close]>Close</button>
    </div>
</div>