.list-item {
    display: flex;

    // test stuff
    min-width: 90px;
    max-width: 90px;
    min-height: 95%;
    max-height: 95%;
    // max-height: 90px;
    // border-color: blue;
    // border-style: dotted;
    box-shadow: inset 0px 0px 0px 10px red;
}

div.url-state {
    flex-shrink: 1;
}

div.name-state {
    flex-shrink: 1;
}

img {
    overflow: hidden;
    object-fit: cover;
    // test stuff
    // max-width: 95px;
    // max-height: 95px;
    max-height: 100%;
    width: 100%;
}
