<div class="dialog">
    <h1 mat-dialog-title>Add New Item</h1>
    <div mat-dialog-content>
        <!-- for entering a link -->
        <p>Enter an image link</p>
        <mat-form-field>
            <mat-label>Image Link</mat-label>
            <input matInput [(ngModel)]="">
        </mat-form-field>

        <!-- for entering a name -->
        <p>Enter an item name</p>
        <mat-form-field>
            <mat-label>Item Name</mat-label>
            <input matInput [(ngModel)]="">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <!-- submit new thing -->
        <button mat-button [mat-dialog-close]="" cdkFocusInitial>Create Item</button>
    </div>
</div>