<div class="dialog">
    <h1 mat-dialog-title>Public Tier Lists</h1>
    <!-- *ngIf="boardList$ | withLoading | async as obs" -->
    <!-- <mat-list-option *ngFor="let item of boardList$ | async"> -->
    <div mat-dialog-content class="db-list">
        <mat-label>Select A Board</mat-label>
        <div>
            <mat-radio-group [(ngModel)]="selectedBoard" class="file-radio-group">
                <mat-radio-button *ngFor="let item of boardList$ | async" [value]="item.name" class="file-radio-button">
                    {{item.name}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <div mat-dialog-actions>
        <!-- close -->
        <button mat-button color="secondary" [mat-dialog-close]>Close</button>
    </div>
</div>